################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/pogo-css-dist/FileContentIndex
/.vs/slnx.sqlite
/.vs/pogo-css-dist/v17
